.about {
  margin-top: $m-size;
  min-height: 100vh;
  max-width: 100vw;
  text-align: center;
}

.about__text {
  padding: $s-size;
}

.about__img {
  display: none;
}

.about__imgMobile {
  padding-bottom: $m-size;
  width: 100vw;
  height: auto;
}

.about__button {
  font-size: 1.2rem;
  background-color: $burgandy;
  color: $font-color;
  margin: $s-size $s-size $s-size 0;
  padding: $s-size $m-size;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  transition: all 0.5s ease-in-out;
  outline: none;
  border-radius: 30px;
  .about__button:active {
    transition: all 0.5s ease-in-out;
    color: $burgandy;
  }
  .about__button:hover {
    transition: all 0.5s ease-in-out;
  }
}

.about__button:hover {
  color: $font-color;
}

@media (max-width: 320px) {
  .about__blurb h4,
  a {
    font-size: 1rem;
  }
}

@media (min-width: $desktop-breakpoint) {
  .about {
    margin-top: $xl-size;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100vw;
  }

  .about__text {
    font-size: 1.4rem;
  }

  p {
    margin-bottom: $m-size;
  }
  .about__blurb {
    padding: $s-size;
    width: 25vw;
    min-width: 300px;
    font-size: $m-size;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .about__img {
    display: flex;
    width: 75vw;
    height: auto;
    align-items: center;
  }

  .about__imgMobile {
    display: none;
  }
}
