.form__page {
  min-height: 100vh;
  background-color: $burgandy;
  padding-top: $l-size;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__button {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.form__input {
  outline: none;
  border: 1px solid $less-black;
}

.form__label {
  font-weight: 300;
}
