.navbar {
  display: flex;
  justify-content: center;
}

.navbar__imgMobile {
  display: inline;
  margin-top: $xs-size;
  width: 150px;
  height: 150px;
}

.tilt {
  display: none;
}

@media (min-width: $desktop-breakpoint) {
  .navbar {
    justify-content: center;
  }
  .navbar__img {
    width: 75%;
  }

  .navbar__imgMobile {
    display: none;
  }

  .tilt {
    display: inline;
  }
}
