.navbar {
  display: flex;
  justify-content: center;
}

.navbar__img {
  margin-top: $m-size;
  width: 30%;
  height: auto;
  min-width: 150px;
  max-width: 500px;
}

.tilt {
  display: none;
}

@media (min-width: $desktop-breakpoint) {
  .navbar {
    justify-content: center;
  }
  .navbar__img {
    width: 75%;
  }

  .tilt {
    display: inline;
  }
}
