.logoImg {
}

.logoContainer {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
  margin-bottom: 0;
  width: 10%;
  height: auto;
}

.headerContainer {
  display: flex;
  align-content: center;
}

.menu {
  display: flex;
  justify-content: space-around;
  width: 35vw;
  align-items: center;
  margin-left: 2rem;
}
button {
  height: 40px;
}

h3 {
  font-weight: 400;
}
/* 
.title {
  text-shadow: 0px 1px #121111;
  padding: 5px;
  margin: 0px;
  font-family: "Anttariksa";
  font-size: 35px;
  color: #fffaf2; */

/* transform: rotate(-15deg); */
/* } */

/* 
.parent {
  display: flex;
  align-items: center;
}

.logo {
  margin-top: 2rem;
  display: flex;
}

.logoContainer {
  display: flex;

  justify-content: flex-start;
 
  height: auto;
  margin-left: 2rem;
}

@media only screen and (max-width: 420px) {
  .title {
    font-size: 30px;
  }
  .logoContainer {
    margin-left: 2px;
  }
}

@media only screen and (max-width: 320px) {
  .title {
    font-size: 25px;
  }

  .logoImg {
    width: 75px;
    height: auto;
  }
} */
