//COLOURS
$darker-black: #222222;
$almost-black: #444444;
$font-color: darken(#ffffff, 2);
$less-black: #646464;
$yellow: #f3bd37;
$nude: #fbeedc;
$burgandy: #c20013;

//SPACING
$xs-size: 0.5rem;
$s-size: 0.8rem;
$m-size: 1.6rem;
$l-size: 2.4rem;
$xl-size: 3.6rem;
$desktop-breakpoint: 45rem;
